.app {
  text-align: left;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 40px;
}

h1 {
  color: #D53939;
}

h4 {
  color: #616EEF;
}

input {
  list-style-type: none;
  margin-left: 25px;
}

span {
  font-size: 15px;
}

.quiz {
  margin: auto;
  margin-left: 25%;
}

.btn-container {
  width: 100%;
}

button {
  cursor: pointer;
  color: white;
  background-color: #616EEF;
  border: none;
  margin: 30px 0px;
  height: 50px;
  width: 100px;
}
